@font-face {
    font-family: "DIN";
    src: url(../font/DIN.otf) format('opentype');
}

@font-face {
    font-family: "DIN-light";
    src: url(../font/DIN-light.woff) format('opentype');
}

@font-face {
    font-family: "RoboMono";
    src: url(../font/RobotoMono-Light.ttf);
}

:root {
    --bg-color: #fff;
    --text-color: #000;
}

* {
    background-color: var(--bg-color);
    color: var(--text-color);
}

body {
    font-family: "DIN-light", sans-serif;
}

.mono-font {
    font-family: "RoboMono", monospace !important;
}

#fontToggleText.mono-text {
    font-family: "RoboMono", monospace !important;
}

#fontToggleText.serif-text {
    font-family: "DIN-light", sans-serif !important;
}

.ascii-art {
    font-family: "RoboMono", monospace;
    white-space: pre; 
    line-height: 1.1;
    margin-bottom: 2rem;
    user-select: none;

    color: var(--text-color);
    transform-origin: center;
    animation: pulse 4s infinite alternate ease-in-out; /* slower & smooth */
}

@keyframes pulse {
    0% {
        color: var(--text-color);
        transform: scale(1);
    }
    50% {
        color: var(--bg-color);
        transform: scale(1.25); /* peak scale and color */
    }
    100% {
        color: var(--text-color);
        transform: scale(1);
    }
}



@keyframes pulseWhite {
    0% {
        color: var(--text-color);
    }
    100% {
        color: var(--bg-color);
    }
}


body {
    margin: 0;
    height: 100vh;            
    display: flex;
    justify-content: center;  
    align-items: center;  
}

.rbottom {
    position: fixed;
    display: flex;  
    flex-direction: column; 
    align-items: flex-end; 
    right: 20px;      
    bottom: 20px;     
    padding: 10px;
    user-select: none;
    text-align: right;
}

.rbottom p {
    margin: 0; 
}

.rbottom img {
    max-width: 60px;
    margin-top: -30px; 
}


.navbar {
    position: fixed;
    right: 50px;
    top: 50px;
    display: flex;
    gap: 150px;
}

.navbar a {
    position: relative; 
    font-size: 23px;
    text-decoration: none; 
    color: var(--text-color);
}

.navbar a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;         
    height: 2px;      
    background-color: var(--text-color);
    transition: width 0.3s ease; 
}

.navbar a:hover::after {
    width: 100%;       
}

.about-container {
    text-align: left;
    margin: 0;
    padding: 0;
}

.about-container h1,
.about-container p {
    margin: 0;
    padding: 0;
}

.about-container h1 {
    margin-bottom: 10px; 
    font-size: 45px;
}

.about-container p {
    font-size: 20px;
}

.about-container p + p {
    margin-top: 5px;
}

.members {
    display: flex;
    gap: 20px;
}

.members a {
    text-decoration: none;
    color: var(--text-color);; 
    padding: 5px 10px;
    position: relative;
    transition: all 0.3s ease;
    font-size: 20px;
}

.members a::before {
    content: "";
    position: absolute;
    inset: 0; 
    border: 2px dashed var(--text-color);
    opacity: 0;
    transform: scale(0.8);
    transition: all 0.3s ease;
    border-radius: 5px; 
}

.members a:hover::before {
    opacity: 1;
    transform: scale(1);
}

.theme-switch {
    cursor: pointer;
}

.font-switch {
    cursor: pointer;
}

body.dark-mode .theme-switch {
    color: var(--text-color);
}

.switches {
    display: flex;
    gap: 15px;
}

/* projects.html */
.services-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin-top: 20px;
    width: 70%;
    margin: 0 auto;
}

.service-item {
    padding: 15px;
    border-radius: 8px;
}

.service-item a {
    text-decoration: none;
}

@media (max-width: 900px) {
    .services-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 500px) {
    .services-grid {
        grid-template-columns: 1fr;
    }
}